<%%= error_messages_for '<%= server_singular_name %>' %>

<!--[form:<%= server_singular_name %>]-->
<p><label for="<%= server_singular_name %>_name">Name</label><br/>
<%%= f.text_field  'name'  %></p>

<p><label for="<%= server_singular_name %>_host">Host</label><br/>
<%%= f.text_field  'host'  %></p>

<p><label for="<%= server_singular_name %>_port">Port</label><br/>
<%%= f.text_field  'port'  %></p>

<p><label for="<%= server_singular_name %>_ssl">Use SSL?</label><br/>
<%%= f.check_box  'ssl'  %></p>

<p><label for="<%= server_singular_name %>_bind_dn">Bind dn</label><br/>
<%%= f.text_field  'bind_dn'  %></p>

<p><label for="<%= server_singular_name %>_bind_password">Bind password</label><br/>
<%%= f.password_field  'bind_password'  %></p>

<p><label for="<%= server_singular_name %>_base_dn">Base dn</label><br/>
<%%= f.text_field  'base_dn'  %></p>

<p><label for="<%= server_singular_name %>_scope">Scope</label><br/>
<%%= f.text_field  'scope'  %></p>

<p><label for="<%= server_singular_name %>_login_attribute">Login attribute</label><br/>
<%%= f.text_field  'login_attribute'  %></p>

<p><label for="<%= server_singular_name %>_email_attribute">Email attribute</label><br/>
<%%= f.text_field  'email_attribute'  %></p>

<p><label for="<%= server_singular_name %>_given_name_attribute">Given name attribute</label><br/>
<%%= f.text_field  'given_name_attribute'  %></p>

<p><label for="<%= server_singular_name %>_surname_attribute">Surname attribute</label><br/>
<%%= f.text_field  'surname_attribute'  %></p>

<p><label for="<%= server_singular_name %>_create_<%= model_controller_plural_name %>">Create <%= model_controller_plural_name.humanize.downcase %> on successful login</label><br/>
<%%= f.check_box  'create_<%= model_controller_plural_name %>'  %></p>

<!--[eoform:<%= server_singular_name %>]-->

